$font-size: 14px;
$font-family: 'Raleway', sans-serif; 
$font-light: 400;
$font-heavy: 700;
$c-pale-blue: hsl(243, 100%, 93%);
$c-gray-blue: hsl(229, 7%, 55%);
$c-dark-blue: hsl(228, 56%, 26%);
$c-very-dark-blue: hsl(229, 57%, 12%);

$g-load-start: hsl(6, 100%, 80%);
$g-load-end: hsl(335, 100%, 65%);

html, body {
    font-size: $font-size;
    font-family: $font-family;
    height: 100%;
    width: 100%;
}

@mixin mix-transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin background-gradient($deg, $c1, $c2) {
    background: -webkit-linear-gradient($deg, $c1, $c2);
    background: -moz-linear-gradient($deg, $c1, $c2);
    background: -o-linear-gradient($deg, $c1, $c2);
    background: linear-gradient($deg, $c1, $c2);
}

@media (min-width: 800px) {

    body {
        align-items: center;
        background-color: $c-very-dark-blue;
        display: flex;
        flex-direction: row;
        height: 100%;
        position: relative;
        width: 100%;

        #bg-image {
            bottom: 0%;
            height: 52.5%;
            position: absolute;
            width: 100%;
        }
  
        #content {
            display: flex;
            flex-direction: row;
            height: 25.5%;
            margin: auto;
            max-width: 1000px;
            min-height: 220px;
            padding-bottom: 1.5%;
            position: relative;
            width: 64%;

            #mobile-storage-quote {
                display: none;
            }

            #options-box {
                justify-content: center;
                background-color: $c-dark-blue;
                border-radius: 10px 95px 10px 10px;
                display: flex;
                flex-direction: column;
                margin-right: 3.2%;
                position: relative;
                height: 100%;
                width: 38.1%;

                #logo {
                    margin-bottom: 8.6%;
                    margin-left: 12%;
                    width: 50%;
                }

                #options-icons {
                    display: flex;
                    flex-direction: row;
                    margin-left: 12%;
                    width: 60%;

                    .icon {
                        object-fit: contain;
                        background-color: $c-very-dark-blue;
                        border-color: $c-very-dark-blue;
                        border-top-width: 12.5px;
                        border-left-width: 13px;
                        border-right-width: 13px;
                        border-radius: 10px;
                        border-top-width: 12.5px;
                        border-style: solid;
                        border-width: 13px;
                        margin-right: 8%;
                        width: 10%;
                    }

                    .icon:nth-child(2) {
                        border-right-width: 12.5px;
                        margin-right: 7.9%;
                        width: 11.5%;
                    }
                    
                    .icon:nth-last-child(1) {
                        border-left-width: 11px;
                        border-right-width: 12px;
                        width: 11.5%;
                    }
                }
            }
    
            #storage-box {
                display: flex;
                flex-direction: row;
                height: 100%;
                position: relative;
                width: 54.3%;

                #main-storage-content {
                    align-items: flex-end;
                    align-self: flex-end;
                    background-color: $c-dark-blue;
                    border-radius: 10px 0px 0px 10px;
                    color: $c-pale-blue;
                    display: flex;
                    flex-direction: column;
                    height: 80%;
                    justify-content: center;
                    position: relative;
                    width: 100%;

                    #remaining-storage-text {
                        height: 19.5%;
                        margin-top: 5.2%;
                        width: 92.0%;
                    }

                    #remaining-storage-bar {
                        display: flex;
                        height: 12.5%;
                        position: relative;
                        width: 92.0%;

                        #background-storage-bar {
                            align-items: center;
                            background-color: rgba(8, 11.8, 28.6, 0.35);
                            display: flex;
                            border-radius: 30px;
                            flex-direction: row;
                            height: 100%;
                            padding-left: 1%;
                            width: 100%;

                            #current-storage-bar {
                                align-items: center;
                                border-radius: 30px;
                                display: flex;
                                flex-direction: row;
                                height: 69.0%;
                                @include background-gradient(90deg, $g-load-start 50%, $g-load-end 100%);
                                justify-content: flex-end;
                                width: 74.10%;
                            }

                            #current-storage-bar:after {
                                background-color: white;
                                border-radius: 100px;
                                content: "";
                                height: 74%;
                                margin-bottom: 0.2%;
                                margin-right: 0.5%;
                                width: 3%;
                            }
                        }
                    }

                    #remaining-storage-labels {
                        display: flex;
                        flex-direction: row;
                        font-size: 0.85rem;
                        font-weight: 700;
                        height: 20%;
                        margin-top: 1.5%;
                        width: 92.0%;
                        justify-content: space-between;
                    }
                }
                #storage-quote {
                    align-items: flex-end;
                    align-self: flex-start;
                    display: flex;
                    flex-direction: column;
                    height: 45.5%;
                    justify-content: center;
                    margin-top: 1.0%;
                    position: absolute;
                    right: 0%;
                    width: 35.8%;

                    #storage-text {
                        align-self: flex-start;
                        align-items: center;
                        background-color: white;
                        border-radius: 10px 10px 0px 10px;
                        display: flex;
                        flex-direction: row;
                        height: 77%;
                        justify-content: center;
                        width: 100%;

                        #storage-text-1 {
                            color: $c-very-dark-blue;
                            font-size: 2.9rem;
                            font-weight: 700;
                            margin-left: -3%;
                        }

                        #storage-text-2 {
                            color: $c-gray-blue;
                            font-size: 0.9rem;
                            font-weight: 700;
                            margin-left: 5%;
                            margin-top: 2%;
                            text-transform: uppercase;
                        }
                    }

                    #storage-triangle {
                        background: linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, white 50%, white 100%);
                        height: 22.6%;
                        position: relative;
                        width: 12%;
                    }
                }
            }

            #last-storage-section {
                align-self: flex-end;
                background-color: $c-dark-blue;
                border-radius: 0px 10px 10px 0px;
                display: flex;
                height: 80%;
                width: 4.2%;
            }
        }
    }
}

@media (max-width: 799px) {

    body {
        align-items: center;
        background-color: $c-very-dark-blue;
        background-image: url("images/bg-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        height: 100%;
        position: relative;
        width: 100%;

        #bg-image {
            display: none;
        }
  
        #content {
            display: flex;
            flex-direction: column;
            height: 61.5%;
            margin: auto;
            min-height: 350px;
            min-width: 333.75px;
            padding-bottom: 1.5%;
            position: relative;
            width: 89%;

            #options-box {
                justify-content: center;
                background-color: $c-dark-blue;
                border-radius: 10px 95px 10px 10px;
                display: flex;
                flex-direction: column;
                margin-right: 3.2%;
                position: relative;
                height: 49%;
                width: 100%;

                #logo {
                    margin-bottom: 8.6%;
                    margin-left: 12%;
                    width: 50%;
                }

                #options-icons {
                    display: flex;
                    flex-direction: row;
                    margin-left: 12%;
                    width: 60%;

                    .icon {
                        object-fit: contain;
                        background-color: $c-very-dark-blue;
                        border-color: $c-very-dark-blue;
                        border-top-width: 12.5px;
                        border-left-width: 13px;
                        border-right-width: 13px;
                        border-radius: 10px;
                        border-top-width: 12.5px;
                        border-style: solid;
                        border-width: 13px;
                        margin-right: 8%;
                        width: 10%;
                    }

                    .icon:nth-child(2) {
                        border-right-width: 12.5px;
                        margin-right: 7.9%;
                        width: 11.5%;
                    }
                    
                    .icon:nth-last-child(1) {
                        border-left-width: 11px;
                        border-right-width: 12px;
                        width: 11.5%;
                    }
                }
            }
    
            #storage-box {
                display: flex;
                flex-direction: row;
                height: 43.3%;
                position: relative;
                width: 100%;

                #main-storage-content {
                    align-items: flex-end;
                    align-self: flex-end;
                    background-color: $c-dark-blue;
                    border-radius: 10px 0px 0px 10px;
                    color: $c-pale-blue;
                    display: flex;
                    flex-direction: column;
                    height: 90%;
                    justify-content: flex-start;
                    position: relative;
                    width: 95.8%;

                    #remaining-storage-text {
                        height: 19.5%;
                        margin-top: 10.0%;
                        width: 92.0%;

                        #storage-em {
                            font-weight: 600;
                        }
                    }

                    #remaining-storage-bar {
                        display: flex;
                        height: 13.0%;
                        position: relative;
                        width: 92.0%;

                        #background-storage-bar {
                            align-items: center;
                            background-color: rgba(8, 11.8, 28.6, 0.35);
                            display: flex;
                            border-radius: 30px;
                            flex-direction: row;
                            height: 100%;
                            padding-left: 1%;
                            width: 100%;

                            #current-storage-bar {
                                align-items: center;
                                border-radius: 30px;
                                display: flex;
                                flex-direction: row;
                                height: 69.5%;
                                @include background-gradient(90deg, $g-load-start 50%, $g-load-end 100%);
                                justify-content: flex-end;
                                width: 74.10%;
                            }

                            #current-storage-bar:after {
                                align-self: center;
                                background-color: white;
                                border-radius: 100px;
                                content: "";
                                height: 72%;
                                margin-right: 0.5%;
                                width: 5%;
                            }
                        }
                    }

                    #remaining-storage-labels {
                        display: flex;
                        flex-direction: row;
                        font-size: 0.87rem;
                        font-weight: 700;
                        height: 20%;
                        margin-top: 2.95%;
                        width: 92.0%;
                        justify-content: space-between;
                    }
                }
 
                #mobile-last-storage-section {
                    align-self: flex-end;
                    background-color: $c-dark-blue;
                    border-radius: 0px 10px 10px 0px;
                    height: 90%;
                    width: 4.2%;
                }
              
                #storage-quote {
                    display: none;
                }
            }

            #mobile-storage-quote {
                align-items: center;
                align-self: center;
                bottom: 0%;
                display: flex;
                flex-direction: row;
                height: 17.7%;
                justify-content: center;
                position: absolute;
                width: 53.5%;


                #mobile-quote-content {
                    align-items: center;
                    background-color: white;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    justify-content: center;
                    width: 100%;

                    #mobile-storage-text-1 {
                        font-size: 2.9rem;
                        font-weight: 700;
                    }     
                    #mobile-storage-text-2 {
                        color: $c-gray-blue;
                        font-size: 0.9rem;
                        font-weight: 700;
                        margin-top: 0.5%;
                        margin-left: 5%;
                        text-transform: uppercase;
                    }
                }
            }

            #last-storage-section {
                display: none;
            }
        }
    }
}